* {
	margin: 0;
	padding: 0;
}

body {
    background: #f9e033;
}

header, main, footer {
    min-width: 855px;
}

.container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: auto;
}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

main {
    background: white;
    overflow: auto;
}

.main-text {
    width: 570px;
    float: left;
}

.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
        background: #eee;
}

.bulb {
    /*width: 32px;*/
    float: right;
    width: 285px;
}

footer {
    overflow: auto;
}

.contact {
    width: 570px;
    float: left;
}

.sitemap {
    width: 285px;
    float: right;
}
