* {
    margin: 0;
    padding: 0;
}

nav {
    background: darkgray;
    float: left;
}

main {
    background: lightgray;
    font-family: 'Raleway', sans-serif;
}

footer {
    background: gray;
    clear: both;
}
