body {
    background: #f9e033;
}

header, main, footer {
    min-width: 855px;
}

.container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
}

main {
    background: white;
}
